*{
	padding: 0px;
	margin: 0px;
}
html{
	height: 100%;
}
body{
	height: 80%; 
	/* 容器在body正中间，这里设置body高度为视口80%实现容器在视口中向上偏移 */
	background: #000000;
	display: flex; 
	justify-content: center;
	align-items: center;
	overflow: hidden;
	perspective: 800px; /* 设置景深，若设置在容器上，js中使用容器旋转的方法会出现问题 */
}
#container{
	width: 190px;
	height: 120px;
	/* margin-top: -10vh; */
	transform-style: preserve-3d; /* 设置3d环境 */
	transform: rotateX(-5deg);
}
#container img{
    width: 100%; /*和容器一样大，所有图片初始未3d变换时重叠在一起*/
    height: 100%;
	position: absolute;
    box-shadow: 0 0 8px #eaeaea;
    box-shadow: 1px -1px 6px #666;
    border-radius: 4px;
    -webkit-box-reflect: below 3px -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.5));
    cursor: pointer;
}
